.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 3rem;


 
    
    
    .icons {
        display: flex;

        li {
            padding: 0 1rem;
            @include respond(md) {
                padding: 0 1.8rem;
            }
            button {
                background: none;
                border: 0;
                -webkit-appearance: none;
                cursor: pointer;
            }
         
            img {
                width: 2.8rem;
                height: 2.8rem;
                @include respond(md) {
                    width: 3.1rem;
                    height: 3.1rem;
                }
            }

          
        }
    }


    .logo-img {
        width: 12rem;
        max-width: 100%;
        @include respond(md) {
            width: 14rem;

        }
    
    }




}