:root {
    // COLORS
    --color-light: #fff;
    --color-dark: #171A21;
    --color-darker: #000;
    // #e6004c
    --color-primary: 230, 0, 76;
    --color-secondary :#503E4C;
    --color-tertiary :#222324;
    --color-fourth: #271824;
    --color-5: #222324;
    --alpha: 0.4;
    --nav-height: 7vh;

    --scroll-height: 10%;
    --scrollbar-color: #fa0154;

    @include respond(sm) {
        --nav-height: 10vh;
    }

}

// FONTS
$font-primary: Roboto, sans-serif;